# build the docker image
# push the image to hub
# SSH into our VM and start the new image

name: CD Backend

on:
    push:
        branches: [ main ]

jobs:
    build:
        name: backend-build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checout@v2

            - name: Docker login
              uses: docker/login-action@v2 # try to cretate your own action , same as NPM packges making 
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_TOKEN }}
            
            - name: Build and push
              uses: docker/build-push-action@v3
              with:
                context: .
                file: ./docker/Dockerfile.backend
                push: true
                tags: ${{ secrets.DOCKER_USERNAME }}/todo-app-backend:${{ github.sha }}
             